<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login hide-login">
      <form class="login-container hide-form" method="POST" action="login">
        <img
          src="https://image.flaticon.com/icons/png/512/2922/2922532.png"
          alt=""
        />
        <div class="input-container hide-section">
          <p><input type="email" placeholder="Email" name="email" /></p>
          <p>
            <input type="password" placeholder="Password" name="password" />
          </p>
          <p><input type="button" value="Log in" /></p>
        </div>
      </form>
    </div>

    <script src="js/animate.js"></script>
    <script src="js/validate.js"></script>
  </body>
</html>
